<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <%- include('../includes/navigation')%>
    <main>
      <% if(errorMessage){%>
      <div class="user-message user-message--error"><%=errorMessage%></div>
      <%}%>
      <div class="product-form">
        <form class="form" action="/reset" method="POST">
          <div class="form-control">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter Email" name="email" id="email" />
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit">Reset</button>
        </form>
      </div>
    </main>
  </body>
</html>
