<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/">Shop</a>
          </li>
          <li class="main-header__item">
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-products">
      <h2>My Products</h2>
      <div class="product-card">
        <div class="product-card__content">
          <img src="./product.jpg" alt="" />
          <div class="procuct-details">
            <span>Skin Cream</span>
            <span>123</span>
          </div>
        </div>
      </div>
      <div>
        <p>My Products is Empty</p>
      </div>
    </main>
  </body>
</html>
